<div class="summary-container container">

  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title>Total Assets : </mat-card-title>
    </mat-card-header>
    <mat-card-content>{{ totalAssets }}</mat-card-content>
  </mat-card>

  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title>Total Stocks : </mat-card-title>
    </mat-card-header>
    <mat-card-content>{{ totalStocks }}</mat-card-content>
  </mat-card>

  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title>Other Holdings : </mat-card-title>
    </mat-card-header>
    <mat-card-content>{{ totalOtherHoldings }}</mat-card-content>
  </mat-card>

</div>
